* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.da_upload {
    height: 1042px;
    width: 1440px;
    background: #1C2131;
    margin: auto;
}

.bk_da_upload {
    width: 100%;
    height: 80px;
      background: #252C40;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.07);
}

.list_upload {
    display: flex;
    justify-content: space-between;
}

.da_uploadleft {
    display: flex;
    height: 40px;
    width: 190px;
    margin: 20px 0px 20px 40px;
}

.da_uploadleft img {
    height: 35.55555725097656px;
    width: 35.55555725097656px;
    margin: 0px 12px 0px 0px;
}

.da_uploadleft p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 8px 0px;
}

.da_uploadright {
    display: flex;
    

}

.logo2 {
    height: 18px;
    width: 24px;
    margin: 31px 0px;
}

.language {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 52px;
    height: 24px;
    margin: 28px 0px 28px 8px;
}

.dropdown {
    height: 7px;
    width: 12px;
    margin: 38px 18px 38px 10px;

}

.notification {
    width: 40px;
    height: 40px;
    margin: 20px 0px;

}

.setting {
    height: 40px;
    width: 40px;
    margin: 20px 0px;
}

.name {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 28px 8px 28px 27px;
}

.avatar {
    width: 40px;
    height: 40px;
    margin: 20px 40px 20px 0px;
}

.bk_da_upload_center {
    width: 540px;
    height: 455px;
    background: #2B334C;
    border-radius: 12px;
    margin: 293px 450px ;
}

.frame {
    width: 460px;
    height: 375px;
    padding: 40px;
}

.title {
    width: 460px;
    height: 36px;
}

.title p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}

.listtich {
    display: flex;
}

.tichxanh1 {
    width: 152px;
    height: 3px;
    background: #35DA7F;
    border-radius: 2px;
    margin: 24px 2px 0px 0px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.tichxanh2 {
    width: 152px;
    height: 3px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 24px 2px 0px 0px;
}

.tichxanh3 {
    width: 152px;
    height: 3px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    flex: none;
    order: 2;
    flex-grow: 1;
    margin: 24px 0px;
}

.bk_content_upload {
    box-sizing: border-box;
    width: 460px;
    height: 216px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px dashed rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.close {
    width: 32px;
    height: 32px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    margin: 12px 12px 0px 416px;
}

.loadfield img{
   margin: 0px 198px;
}

.content_field{
    width: 184px;
    height: 28px;
    margin :16px 138px 0px 138px;
}

.content_field .content1 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 4px;
}


.content_field .content2 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);

}

.bk_buton {
    width: 460px;
    height: 48px;
    margin: 24px 0px 0px 0px;
}

.bk_buton button {
    width: 460px;
    height: 48px;
    background: #35DA7F;
    border-radius: 4px;
    border: none;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}